/* Container per il Hero */
.containerHero {
    padding-top: 200px;
    /* Distanza dall'alto per il contenuto */
    height: 100vh;
    /* Imposto l'altezza a 100vh (viewport height) per far occupare tutta la finestra */
}

/* Sfondo verde */
.bg-verde {
    background-color: #aebea8;
    /* Colore di sfondo verde chiaro */
    height: 100vh;
    /* Imposto l'altezza a 100vh per far occupare tutta la finestra */
}

/* Link */
a {
    color: white;
    /* Imposto il colore dei link su bianco */
}

/* Stile per le card */
.card {
    background-color: white;
    /* Imposto il colore di sfondo bianco per le card */
    border-radius: 8px;
    /* Angoli arrotondati */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* Ombra leggera per dare profondità */
    margin-top: 50px;
    /* Margine superiore di 50px per distanziare le card */
}

/* Stile per il corpo della card */
.card-body {
    padding: 1.5rem;
    /* Padding di 1.5rem per distanziare il contenuto dalla border della card */
}

/* Titolo della card */
.card-title {
    font-size: 1.25rem;
    /* Imposto la dimensione del font */
    font-weight: bold;
    /* Imposto il titolo in grassetto */
}

/* Classi per le recensioni nel contesto delle card */
.cardReviews {
    margin-bottom: 2rem;
    /* Margine inferiore di 2rem per separare le recensioni */
}

/* Margine negativo per la parte del libro */
.book-negative-margin {
    margin-top: 50px;
    /* Spazio superiore per separare il contenuto dalle altre sezioni */
}

/* Classi di margine per le card e altre sezioni */
.cardReviews,
.shadow-sm {
    margin-bottom: 30px;
    /* Imposto il margine inferiore per cardReviews e shadow-sm */
}

/* Corpo della card */
.card-body {
    padding: 20px;
    /* Padding di 20px per il corpo della card */
}

/* Stile per l'immagine di copertina del libro */
.book-cover {
    max-width: 80%;
    /* Imposto la larghezza massima dell'immagine al 80% della larghezza del contenitore */
    height: auto;
    /* L'altezza dell'immagine si adatta in modo proporzionale */
    margin-bottom: 20px;
    /* Margine inferiore per separare l'immagine dal testo */
    border-radius: 15px;
    /* Angoli arrotondati per l'immagine */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Ombra leggera per l'immagine */
    object-fit: cover;
    /* Imposto l'immagine per riempire il contenitore mantenendo le proporzioni */
}

/* Contenitore per l'immagine di copertina */
.book-cover-container {
    display: flex;
    /* Imposto un layout flessibile */
    justify-content: center;
    /* Centra l'immagine orizzontalmente */
    align-items: center;
    /* Centra l'immagine verticalmente */
}