.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    /* Aumentato per rendere il form più largo */
    padding: 2rem;
}

.card {
    padding: 2rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
    color: #212529;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-label {
    font-weight: bold;
    display: inline-block;
    text-align: right;
    /* Allinea le etichette a destra */
    width: 30%;
    /* Imposta una larghezza fissa per allineare le etichette */
    margin-right: 20px;
    /* Aggiunge spazio tra l'etichetta e il campo di input */
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form-control {
    width: 100%;
    /* Campo input occupa tutta la larghezza disponibile */
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
}


a {
    color: blueviolet;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mt-3 {
    margin-top: 1.5rem;
}