.card {
    position: relative;
    overflow: hidden;
}

.cardImageWrapper {
    position: relative;
}

.cardImgTop {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    /* Effetto di zoom sulla copertina */
}

.card:hover .cardImgTop {
    transform: scale(1.1);
    /* Zoom sulla copertina al passaggio del mouse */
}

.cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* Overlay scuro */
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card:hover .cardOverlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
    visibility: visible;
}

.cardBody {
    text-align: center;
}

.cardTitle {
    font-size: 1.25rem;
}

.cardText {
    font-size: 0.64rem;
    margin-bottom: 0.5rem;
}